<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #detail-static-resources},
                                                ~{:: #detail-nav},
                                                ~{:: #detail-main-content},
                                                ~{:: #detail-footer}
                                               )}">
<head>
<title>PixelTrice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="shortcut icon" type="image/png"
	href="/images/logos/favicon.png" />

</head>
<body>
	<div id="detail-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Home Nav
</div>
<article th:replace="${mainContent} ?: ~{}">

		<div class="container-fluid">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title fw-semibold mb-4">Thêm sản phẩm</h5>
					<div class="card">
						<div class="card-body">
							<form>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Mã
										sản phẩm</label> <input type="text" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mã sản phẩm">
								</div>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Tên
										sản phẩm</label> <input type="text" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tên sản phẩm">
								</div>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Giá
										sản phẩm</label> <input type="text" class="form-control"
										id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Giá sản phẩm">
								</div>
								<div class="mb-3">
									<label for="disabledSelect" class="form-label">Disabled select menu</label> 
									<select id="disabledSelect" class="form-select">
										<option id="disabledSelect" class="form-option">Disabled select1</option>
										<option id="disabledSelect" class="form-option">Disabled select2</option>
										<option id="disabledSelect" class="form-option">Disabled select3</option>
									</select>
								</div>

								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input type="password" class="form-control"
										id="exampleInputPassword1">
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</article>
	<div id="detail-footer" th:replace="~{/fragments/app-fragments :: copyright}">
    Footer
</div>

</body>
</html>
