<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Wine</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/AdminLTE.css">
  <link rel="stylesheet" href="/css/_all-skins.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Quản lý sản phẩm
        <small>(Thêm mới sản phẩm)</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="category">Quản lý sản phẩm</a></li>
        <li class="active">Thêm mới sản phẩm</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
     <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới sản phẩm</h3>
            </div>
              <form id="form" action="#" th:action="@{/saveCategoryDetails}" th:object="${category}" method="post">
                <div class="contact-grids1 w3agile-6">
                <div class="box-body">
<!--                <div class="form-group">-->
<!--                  <label for="categoryId">Mã sản phẩm</label>-->
<!--                  <input type="text" class="form-control" id="categoryId" name="categoryId" placeholder="Mã sản phẩm" required="required">-->
<!--                  <p id="error_categoryId"></p>-->
<!--                </div>-->
                <div class="form-group">
                  <label for="name">Tên sản phẩm</label>
                  <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Tên sản phẩm">
                  <p id="error_name"></p>
                </div>
                <div class="form-group">
                  <label for="description">Mô tả sản phẩm</label>
                  <input type="text"  class="form-control" th:field="*{description}" id="description" placeholder="Mô tả">
                    <p id="error_description"></p>

                </div>
                <div class="form-group">
                  <label for="price">Giá sản phẩm</label>
                  <input type="text" class="form-control" th:field="*{price}" id="price" placeholder="Giá sản phẩm">
                  <p id="error_price"></p>
                </div>
                <div class="form-group">
                  <label for="stock">Cổ phần</label>
                  <input type="text" class="form-control" th:field="*{stock}" id="stock"  placeholder="Cổ phần">
                    <p id="error_stock"></p>
                </div>
                <div class="form-group">
                  <label for="image">Ảnh sản phẩm</label>
                  <input type="file" class="form-control" placeholder="Ảnh sản phẩm" th:field="*{image}" id="image" required="required">
                  <p id="error_file"></p>
                </div>
                <div class="form-group">
                  <label for="suppliers">Nhà cung cấp</label>
                  <select th:field="*{supplier}" id="suppliers" class="form-control">
                    <option th:each="supplier : ${supplier}"
                            th:value="${supplier}"
                            th:text="${supplier.name}">
                    </option>
                  </select>
                    <p id="error_suppliers"></p>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Thêm mới sản phẩm</button>
                  <a href="/category" style="float:left;" class="btn btn-success text-right">Trở về</a>
              </div>
                </div>
              <br>
                    <div id="success" class="text-center" style="color:green;"></div>
                    <div id="error" class="text-center" style="color:red;"></div>
            </form>

          </div>
     </div>
        <p class="text-center">
            <img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
        </p>
      <script src="/js/category.js"></script>

    </section>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/tinymce/config.js"></script>
<script src="/js/function.js"></script>
</body>
</html>
