<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Wine</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/AdminLTE.css">
  <link rel="stylesheet" href="/css/_all-skins.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/sidebar :: sidebar"></div>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
     <section class="content-header">
      <h1>
        Quản lý khách hàng
        <small>(Thêm mới khách hàng)</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="customers">Quản lý khách hàng</a></li>
        <li class="active">Thêm mới khách hàng</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
     <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thêm mới Khách hàng</h3>
            </div>
            <form id="form" action="#" th:action="@{/add-customers}" th:object="${customers}" method="post">
<!--            <form id="form">-->
            <div class="box-body">
                <div class="form-group">
                  <label for="name">Tên khách hàng</label>
                  <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Tên khách hàng">
                </div>
                <div class="form-group">
                  <label for="address">Địa chỉ</label>
                  <input type="text" class="form-control" th:field="*{address}" id="address" placeholder="Địa chỉ">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="email">
                </div>
                <div class="form-group">
                  <label for="phone">Số điện thoại</label>
                  <input type="number" class="form-control" th:field="*{phone}" id="phone" placeholder="Số điện thoại">
                </div>
              </div>
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary">Thêm mới khách hàng</button>
                </div>
            </form>
          </div>

          <!-- /.box -->

        </div>
      <!-- /.box -->
      <p class="text-center">
        <img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
      </p>
      <script src="/js/customer.js"></script>

    </section>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/adminlte.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/tinymce/tinymce.min.js"></script>
<script src="/tinymce/config.js"></script>
<script src="/js/function.js"></script>
</body>
</html>
