<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminWine</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/AdminLTE.css">
  <link rel="stylesheet" href="/css/_all-skins.min.css">
  <link rel="stylesheet" href="/css/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/angular.min.js"></script>
  <script src="/js/app.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/sidebar :: sidebar"></div>
 
  Content Wrapper. Contains page content
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Quản lý người dùng trang giao diện
      </h1>
      <ol class="breadcrumb">
        <li><a href="index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="user">Quản lý người dùng</a></li>
      </ol>
    </section>

    <section class="content">

      <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
           <a href="add-user" class="btn btn-success">+Thêm mới người dùng</a>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Tìm kiếm">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody><tr>
                  <th>Mã nhà cung cấp</th>
                  <th>Tên nhà cung cấp</th>
                  <th>Địa chỉ</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Trạng thái</th>
                  <th>Tùy chọn</th>
                </tr>
                <tr th:each="suppliers : ${listSuppliers}">
                  <td th:text="${suppliers.supplier_id}">Mã nhà cung câp</td>
                  <td th:text="${suppliers.name}">Tên nhà cung cấp</td>
                  <td th:text="${suppliers.address}">Địa chỉ</td>
                  <td th:text="${suppliers.phone}">Số điện thoại</td>
                  <td th:text="${suppliers.email}">Email</td>
                  <td th:text="${suppliers.status}"> Trạng thái</td>
                  <td>
                    <a th:href="@{'/edit-supplier/' + ${supplier.id}}">Sửa</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete-suppliers/' + ${supplier.id}}">Xóa</a>
                  </td>
                </tr>
              </tbody></table>
            </div>
          </div>
        </div>

    </section>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/adminlte.min.js"></script>
<script src="js/dashboard.js"></script>
<script src="tinymce/tinymce.min.js"></script>
<script src="tinymce/config.js"></script>
<script src="js/function.js"></script>
</body>
</html>
