<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-nav},
                                                ~{:: #home-main-content},
                                                ~{:: #home-footer}
                                               )}">
<link rel="shortcut icon" type="image/png"
	href="../assets/images/logos/favicon.png" />

<head>
<title>Title of Home Page</title>

<th:block id="home-static-resources">

	<script type="text/javascript" src="../static/home.js"
		th:src="@{/home.js}"></script>
	<link rel="stylesheet" type="text/css" href="../static/home.css"
		th:href="@{/home.css}" />

</th:block>

</head>
<body>
	<div id="home-nav"
		th:replace="~{/fragments/app-fragments :: nav-default}">Home Nav
	</div>

	<div id="home-main-content">
		<div class="container">
			<div class="row">
				<a href="#"> <img class="img-fluid" style="margin-top: 4.5rem;"
					th:src="@{/images/store_coupon.png}" alt="images/store_coupon.png">
				</a>
			</div>
		</div>
		<div class="row" id="row-391368956">
			<div class="col medium-9 small-12 large-9">
				<div class="col-inner">
					<div class="row row-full-width" id="row-18631149">
						<div class="col medium-9 small-12 large-9">
							<div class="col-inner text-center">

								<section class="section" id="section_530062168">
									<div class="bg section-bg fill bg-fill bg-loaded">
										<div class="section-bg-overlay absolute fill"></div>
									</div>
									<!-- .section-bg -->
									<div class="section-content relative">

										<div class="row row-large align-middle" id="row-1836331492">
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">
													<h2 class="tieude-tt" style="color: red; text-align: left;">Câu
														chuyện thương hiệu</h2>
													<p style="text-align: left;">Bằng tình yêu của những
														người đam mê rượu và khám phá chân trời ẩm thực mới lạ của
														Châu Âu, Quynh Hill Winecellar &amp; Steakhouse được xây
														dựng để tái hiện lâu đài nguy nga và hầm rượu cổ kính quý
														tộc, nhằm thoả mãn xúc cảm được thưởng thức và trải nghiệm
														trong không gian văn hoá đậm chất Tây Âu cho giới sành ẩm
														thực tại Việt Nam.</p>
												</div>
											</div>
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">

													<div
														class="img has-hover css-anh-tt x md-x lg-x y md-y lg-y"
														id="image_1543611778">




														<div class="img-inner dark">

															<img width="1020" height="680"
																src="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-1200x800.jpg"
																class="attachment-large size-large" alt=""
																loading="lazy"
																srcset="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-1200x800.jpg 1200w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-scaled-510x340.jpg 510w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-600x400.jpg 600w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-768x512.jpg 768w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-1536x1024.jpg 1536w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC01014-2048x1365.jpg 2048w"
																sizes="(max-width: 1020px) 100vw, 1020px">

														</div>
														<style scope="scope">
#image_1543611778 {

	width: 100%;
}
</style>

													</div>
												</div>
											</div>
											<style scope="scope">
</style>
										</div>
									</div>
									<!-- .section-content -->
									<style scope="scope">
#section_530062168 {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgb(193, 193, 193);
}

#section_530062168 .section-bg-overlay {
	background-color: rgba(255, 255, 255, 0.85);
}
</style>
								</section>
								<section class="section" id="section_688446117">
									<div class="bg section-bg fill bg-fill bg-loaded">
										<div class="section-bg-overlay absolute fill"></div>
									</div>
									<!-- .section-bg -->
									<div class="section-content relative">
										<div class="row row-large align-middle" id="row-1739761831">
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">
													<div
														class="img has-hover css-anh-ttt x md-x lg-x y md-y lg-y"
														id="image_1792806942">
														<div class="img-inner dark">
															<img width="1020" height="680"
																src="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-1200x800.jpg"
																class="attachment-large size-large" alt=""
																loading="lazy"
																srcset="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-1200x800.jpg 1200w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-scaled-510x340.jpg 510w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-600x400.jpg 600w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-768x512.jpg 768w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-1536x1024.jpg 1536w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-2048x1365.jpg 2048w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-24x16.jpg 24w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-36x24.jpg 36w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Capture6567-248x165.jpg 248w"
																sizes="(max-width: 1020px) 100vw, 1020px">
														</div>
														<style scope="scope">
#image_1792806942 {
	width: 100%;
}
</style>
													</div>
												</div>
											</div>
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">
													<h2 class="tieude-tt" style="color: red; text-align: left;">Triết
														lý thương hiệu</h2>
													<p style="text-align: left;">
														Mang đến sự tinh tế trong khám phá ẩm thực và không gian.
														Tinh tế từ khâu chọn nguyên liệu và thuần khiết trong cách
														chế biến món ăn và trình bày, để đến khi hoàn thành, người
														thưởng thức được cảm nhận đầy đủ cả Mỹ – Vị – Thực. Đảm
														bảo khách hàng có những thời khắc thoả mãn và hài lòng
														nhất khi đến với nhà hàng.<br> Chúng tôi có hơn 50
														nhãn hiệu bia và hàng ngàn chai vang tuyệt hảo cùng menu
														đồ ăn phong cách Âu độc đáo cho bạn khám phá.&nbsp;
													</p>
												</div>
											</div>

											<style scope="scope">
</style>
										</div>

									</div>
									<!-- .section-content -->
									<style scope="scope">
#section_688446117 {
	padding-top: 60px;
	padding-bottom: 60px;
}

#section_688446117 .section-bg-overlay {
	background-color: rgba(255, 255, 255, 0.53);
}

#section_688446117 .section-bg.bg-loaded {
	background-image:
		url(https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/03/Pattern-Cover-56.png);
}

#section_688446117 .section-bg {
	background-position: 43% 53%;
}
</style>
								</section>
								<section class="section" id="section_1786210527">
									<div class="bg section-bg fill bg-fill  bg-loaded">
										<div class="section-bg-overlay absolute fill"></div>
									</div>
									<!-- .section-bg -->
									<div class="section-content relative">
										<div class="row row-large align-middle" id="row-1154893947">
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">
													<h2 class="tieude-tt" style="color: red; text-align: left;">Tầm
														nhìn – Sứ mệnh</h2>
													<p style="text-align: left;">
														Trở thành địa chỉ quen thuộc cho những tín đồ đam mê ẩm
														thực Tây Âu và thưởng thức rượu vang ngon.<br> Điểm
														hẹn tuyệt vời cho các cuộc gặp gỡ đối tác, hẹn hò lứa đôi,
														hay đặt tiệc họp mặt công ty, gia đình với các tiêu chí
														sang trọng, đẳng cấp, menu đa dạng và phong thái phục vụ
														chu đáo<br> Địa chỉ tin cậy tìm mua sản phẩm rượu
														vang uy tín, chất lượng và quý hiếm
													</p>
												</div>
											</div>
											<div class="col medium-6 small-12 large-6">
												<div class="col-inner text-left">
													<div
														class="img has-hover css-anh-tt x md-x lg-x y md-y lg-y"
														id="image_1032543436">
														<div class="img-inner dark">
															<img width="1020" height="680"
																src="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-1200x800.jpg"
																class="attachment-large size-large" alt=""
																loading="lazy"
																srcset="https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-1200x800.jpg 1200w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-scaled-510x340.jpg 510w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-600x400.jpg 600w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-768x512.jpg 768w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-1536x1024.jpg 1536w, https://hamruouvanghuyenthu.vn/wp-content/uploads/2020/05/DSC00898-2048x1365.jpg 2048w"
																sizes="(max-width: 1020px) 100vw, 1020px">
														</div>
														<style scope="scope">
#image_1032543436 {
	width: 100%;
}
</style>
													</div>
												</div>
											</div>

											<style scope="scope">
</style>
										</div>

									</div>
									<!-- .section-content -->
									<style scope="scope">
#section_1786210527 {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: rgb(193, 193, 193);
}

#section_1786210527 .section-bg-overlay {
	background-color: rgba(255, 255, 255, 0.85);
}
</style>
								</section>
							</div>
						</div>

						<style scope="scope">
</style>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="home-footer"
		th:replace="~{/fragments/app-fragments :: copyright}">Footer</div>


</body>
</html>